/* styles.css */

#header-container {
    background-color: #3a3a3a;
    padding: 10px;
}

#header-container .navbar-brand img {
    max-width: 150px;
    height: auto;
}

#header-container .navbar-toggler-icon {
    background-color: #DEDEDE;
}

#header-container .navbar-toggler {
    border-color: #DEDEDE;
}

#header-container .navbar-nav .nav-link {
    color: #3a3a3a;
    padding: 10px;
}

.btn-primary {
    background-color: #616161;
    border-color: #616161;
}

.btn-primary:hover {
    background-color: #c9c9c9;
    border-color: #c9c9c9;
}

.btn-secondary {
    background-color: #c9c9c9;
    border-color: #c9c9c9;
}

.btn-secondary:hover {
    background-color: #616161;
    border-color: #616161;
}

.btn-link {
    color: #616161;
}

.btn-link:hover {
    color: #c9c9c9;
    text-decoration: none;
}

.social-icon {
    color: #616161;
    font-size: 24px;
    padding: 10px;
}

.social-icon:hover {
    color: #c9c9c9;
}

#footer-container {
    background-color: #3a3a3a;
    padding: 10px;
    bottom: 0;
}

@media (max-width: 767px) {
    #header-container .navbar-nav .nav-link {
        color: #DEDEDE;
    }

    #header-container .navbar-toggler {
        display: block;
    }

    .btn-primary {
        display: inline-block;
    }

    #header-container .nav-link.d-inline-block.d-md-none {
        display: none;
    }
}

/*Toast*/

#toast-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

#error-toast {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

#error-toast {
    max-width: 800px; /* Adjust as needed */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #3a3a3a;
}

.carousel-control-prev {
    left: -10%;
}

.carousel-control-next {
    right: -10%;
}

.carousel-control-prev-icon::before, .carousel-control-next-icon::before {
    font-size: 3rem;
}
